<settings version="2">
    <setting id="playerPlay">1</setting>
    <setting id="playerType">2</setting>
    <setting id="upnext">true</setting>
    <setting id="srt-view" default="true">false</setting>
    <setting id="deco_color" default="true">lightcoral</setting>
    <setting id="Block_Noti_sound" default="true">false</setting>
    <setting id="spinner_small">true</setting>
    <setting id="meta-view">true</setting>
    <setting id="api_tmdb">51514a5c191a00f374cab926d4308060</setting>
    <setting id="poster_tmdb" default="true">w342</setting>
    <setting id="backdrop_tmdb" default="true">w1280</setting>
    <setting id="extendedinfo-view" default="true">false</setting>
    <setting id="information-view" default="true">false</setting>
    <setting id="display_season_title">true</setting>
    <setting id="visuel-view">500</setting>
    <setting id="active-view">true</setting>
    <setting id="default-view">54</setting>
    <setting id="accueil-view">50</setting>
    <setting id="movies-view">500</setting>
    <setting id="tvshows-view">500</setting>
    <setting id="seasons-view">500</setting>
    <setting id="episodes-view">500</setting>
    <setting id="tmdb_session" default="true" />
    <setting id="tmdb_account" default="true" />
    <setting id="contenu_adulte" default="true">false</setting>
    <setting id="history-view">true</setting>
    <setting id="ipaddress" default="true">127.0.0.1</setting>
    <setting id="ZT">https://www.zt-za.net/index.php</setting>
    <setting id="Tirexo" default="true" />
    <setting id="PlutoTV_deviceID">81faafa0f2ce40d588b5e472275974cb</setting>
    <setting id="PlutoTV_clientID">JFYJy9IWwhtCy%3DD6EaKAnn3X</setting>
    <setting id="PlutoTV_sid">c5777671831111ebb0320026181966dc</setting>
    <setting id="path_ffmpeg" default="true" />
    <setting id="path_enregistrement" default="true" />
    <setting id="path_enregistrement_programmation" default="true" />
    <setting id="enregistrement_activer" default="true">false</setting>
    <setting id="marge_auto" default="true">0</setting>
    <setting id="heure_verification">1</setting>
    <setting id="debug">true</setting>
    <setting id="service_log" default="true" />
    <setting id="download_folder" default="true" />
    <setting id="Library_folder_Movies" default="true">special://userdata/addon_data/plugin.video.vstream/Films</setting>
    <setting id="Library_folder_TVs" default="true">special://userdata/addon_data/plugin.video.vstream/Series</setting>
    <setting id="update_auto">true</setting>
    <setting id="bstoken" default="true" />
    <setting id="trakt_number_element">10</setting>
    <setting id="trakt_show_lists">true</setting>
    <setting id="trakt_movies_show_watchlist">true</setting>
    <setting id="trakt_movies_show_watched">true</setting>
    <setting id="trakt_movies_show_recommended">true</setting>
    <setting id="trakt_movies_show_boxoffice">true</setting>
    <setting id="trakt_movies_show_popular">true</setting>
    <setting id="trakt_movies_show_most_weekly">true</setting>
    <setting id="trakt_movies_show_most_monthly">true</setting>
    <setting id="trakt_tvshows_show_watchlist">true</setting>
    <setting id="trakt_tvshows_show_watchlist_seasons">true</setting>
    <setting id="trakt_tvshows_show_watchlist_episodes">true</setting>
    <setting id="trakt_tvshows_show_watched">true</setting>
    <setting id="trakt_tvshows_show_recommended">true</setting>
    <setting id="trakt_tvshows_show_popular">true</setting>
    <setting id="trakt_tvshows_show_most_weekly">true</setting>
    <setting id="trakt_tvshows_show_most_monthly">true</setting>
    <setting id="hoster_debridlink_premium" default="true">false</setting>
    <setting id="hoster_debridlink_ID" default="true" />
    <setting id="hoster_debridlink_token" default="true" />
    <setting id="hoster_debridlink_tokenrefresh" default="true" />
    <setting id="hoster_alldebrid_premium" default="true">false</setting>
    <setting id="hoster_alldebrid_token" default="true" />
    <setting id="urlmain_alldebrid" default="true" />
    <setting id="hoster_uptobox_premium">false</setting>
    <setting id="hoster_uptobox_username" default="true" />
    <setting id="hoster_uptobox_password" default="true" />
    <setting id="hoster_uptobox_token"></setting>
    <setting id="hoster_uptobox_mode_default">2</setting>
    <setting id="hoster_onefichier_premium" default="true">false</setting>
    <setting id="hoster_onefichier_username" default="true" />
    <setting id="hoster_onefichier_password" default="true" />
    <setting id="hoster_uploaded_premium" default="true">false</setting>
    <setting id="hoster_uploaded_username" default="true" />
    <setting id="hoster_uploaded_password" default="true" />
    <setting id="hoster_realdebrid_premium" default="true">false</setting>
    <setting id="hoster_realdebrid_token" default="true" />
    <setting id="label11" default="true" />
    <setting id="label12" default="true" />
    <setting id="label13" default="true" />
    <setting id="UserUrlResolver" default="true">false</setting>
    <setting id="gum_gum_streaming_com" default="true">true</setting>
    <setting id="home_update" default="true">false</setting>
    <setting id="label10" default="true" />
    <setting id="label26" default="true" />
    <setting id="label27" default="true" />
    <setting id="label28" default="true" />
    <setting id="label41" default="true" />
    <setting id="label42" default="true" />
    <setting id="label43" default="true" />
    <setting id="label56" default="true" />
    <setting id="label57" default="true" />
    <setting id="label58" default="true" />
    <setting id="label71" default="true" />
    <setting id="label72" default="true" />
    <setting id="label73" default="true" />
    <setting id="movie-view" default="true">54</setting>
    <setting id="pastebin_cacheDuration" default="true">8</setting>
    <setting id="pastebin_id_1" default="true">EO8B4UZW7</setting>
    <setting id="pastebin_id_10" default="true">bpoH873I9</setting>
    <setting id="pastebin_id_10_1" default="true">ivwIfh7qb</setting>
    <setting id="pastebin_id_11" default="true">cahgbQSA8</setting>
    <setting id="pastebin_id_11_1" default="true">gRbZHH5Oc</setting>
    <setting id="pastebin_id_12" default="true">ZToZ91oO4</setting>
    <setting id="pastebin_id_13" default="true">1lkVORzJ5</setting>
    <setting id="pastebin_id_13_1" default="true">8DGNwgF1f</setting>
    <setting id="pastebin_id_14" default="true">ivwIfh7qb</setting>
    <setting id="pastebin_id_14_1" default="true">NR23nBfya</setting>
    <setting id="pastebin_id_14_2" default="true">8alNscZhb</setting>
    <setting id="pastebin_id_14_3" default="true">gRbZHH5Oc</setting>
    <setting id="pastebin_id_14_4" default="true">McEEgDVj1</setting>
    <setting id="pastebin_id_15" default="true" />
    <setting id="pastebin_id_16" default="true">NR23nBfya</setting>
    <setting id="pastebin_id_17" default="true">8alNscZhb</setting>
    <setting id="pastebin_id_18" default="true" />
    <setting id="pastebin_id_19" default="true">XK7j5qF96</setting>
    <setting id="pastebin_id_19_1" default="true" />
    <setting id="pastebin_id_19_2" default="true" />
    <setting id="pastebin_id_19_3" default="true" />
    <setting id="pastebin_id_1_1" default="true">DQd9XEEm6</setting>
    <setting id="pastebin_id_1_2" default="true">wkMH4RQm5</setting>
    <setting id="pastebin_id_1_3" default="true">As9WHeYcd</setting>
    <setting id="pastebin_id_1_4" default="true">aNFsyvg0d</setting>
    <setting id="pastebin_id_2" default="true">5lzzQ3Nf8</setting>
    <setting id="pastebin_id_20" default="true">FGp4wyWNe</setting>
    <setting id="pastebin_id_20_1" default="true">eVQYTD9Ee</setting>
    <setting id="pastebin_id_21" default="true">lXYORyXO3</setting>
    <setting id="pastebin_id_21_1" default="true">QQznKBon5</setting>
    <setting id="pastebin_id_21_2" default="true">mSVoqQs14</setting>
    <setting id="pastebin_id_22" default="true">bdtseyFo4</setting>
    <setting id="pastebin_id_22_1" default="true">Cj6CFsWF6</setting>
    <setting id="pastebin_id_22_2" default="true">hYUEwk4x9</setting>
    <setting id="pastebin_id_23" default="true">MGLq4580f</setting>
    <setting id="pastebin_id_24" default="true">iXADPTLZa</setting>
    <setting id="pastebin_id_25" default="true">Ji83AZwJ1</setting>
    <setting id="pastebin_id_25_1" default="true">OMJTcEtZ7</setting>
    <setting id="pastebin_id_26" default="true">R2wGRfIMb</setting>
    <setting id="pastebin_id_26_1" default="true">2BF30f4e4</setting>
    <setting id="pastebin_id_26_2" default="true">4gpjJrO83</setting>
    <setting id="pastebin_id_26_3" default="true">4pqkAIgkc</setting>
    <setting id="pastebin_id_27" default="true">9Y8NCn5d7</setting>
    <setting id="pastebin_id_28" default="true">EO8B4UZW7</setting>
    <setting id="pastebin_id_28_1" default="true">kiodqgoE8</setting>
    <setting id="pastebin_id_29" default="true">QLVajut4c</setting>
    <setting id="pastebin_id_29_1" default="true" />
    <setting id="pastebin_id_2_1" default="true">pdMvZoA99</setting>
    <setting id="pastebin_id_2_2" default="true" />
    <setting id="pastebin_id_3" default="true">aGu9J5VY2</setting>
    <setting id="pastebin_id_30" default="true">lXYORyXO3</setting>
    <setting id="pastebin_id_30_1" default="true">eVQYTD9Ee</setting>
    <setting id="pastebin_id_3_1" default="true" />
    <setting id="pastebin_id_4" default="true">WfJ963s7f</setting>
    <setting id="pastebin_id_41" default="true" />
    <setting id="pastebin_id_41_1" default="true" />
    <setting id="pastebin_id_41_2" default="true" />
    <setting id="pastebin_id_47_3" default="true" />
    <setting id="pastebin_id_47_4" default="true" />
    <setting id="pastebin_id_4_1" default="true" />
    <setting id="pastebin_id_4_2" default="true" />
    <setting id="pastebin_id_4_3" default="true" />
    <setting id="pastebin_id_5" default="true">ScHQtWTO3</setting>
    <setting id="pastebin_id_5_1" default="true">jGDuxPue6</setting>
    <setting id="pastebin_id_5_2" default="true">c4OkvO4Ad</setting>
    <setting id="pastebin_id_5_3" default="true">cHGYFxWPe</setting>
    <setting id="pastebin_id_5_4" default="true">MIeBPnB34</setting>
    <setting id="pastebin_id_5_5" default="true">9Y8NCn5d7</setting>
    <setting id="pastebin_id_6" default="true">2GhLj0fwf</setting>
    <setting id="pastebin_id_7" default="true">cvcsVyFH0</setting>
    <setting id="pastebin_id_8">As9WHeYcd</setting>
    <setting id="pastebin_id_9" default="true">QLVajut4c</setting>
    <setting id="pastebin_id_9_1" default="true">bpoH873I9</setting>
    <setting id="pastebin_id_9_2" default="true">ZToZ91oO4</setting>
    <setting id="pastebin_id_9_3" default="true">cahgbQSA8</setting>
    <setting id="pastebin_id_9_4" default="true">QLwYtqtU8</setting>
    <setting id="pastebin_label_0" default="true">a</setting>
    <setting id="pastebin_label_1" default="true">1 Films Apres 2000 (tous)</setting>
    <setting id="pastebin_label_10" default="true">5 Disney Anime</setting>
    <setting id="pastebin_label_11" default="true">5 SuperHeros Anime</setting>
    <setting id="pastebin_label_12" default="true">5 DAnime Films Autres</setting>
    <setting id="pastebin_label_13" default="true">5 Films Series Enfants</setting>
    <setting id="pastebin_label_14" default="true">6 DAnime Series (tous)</setting>
    <setting id="pastebin_label_15" default="true" />
    <setting id="pastebin_label_16" default="true">6 DAnime Series petits</setting>
    <setting id="pastebin_label_17" default="true">6 DAnime Series grands</setting>
    <setting id="pastebin_label_18" default="true" />
    <setting id="pastebin_label_19" default="true">6 Dessin Anime 80</setting>
    <setting id="pastebin_label_2" default="true">1 Films Avant 2000</setting>
    <setting id="pastebin_label_20" default="true">7 Docs Films (tous)</setting>
    <setting id="pastebin_label_21" default="true">7 Docs Series (tous)</setting>
    <setting id="pastebin_label_22" default="true">8 Concert</setting>
    <setting id="pastebin_label_23" default="true">8 Humoriste</setting>
    <setting id="pastebin_label_24" default="true">8 Spectacle</setting>
    <setting id="pastebin_label_25" default="true">8 Sports</setting>
    <setting id="pastebin_label_26" default="true">9 Mangas (tous)</setting>
    <setting id="pastebin_label_27" default="true">Series Selection</setting>
    <setting id="pastebin_label_28" default="true">widget Films et Series</setting>
    <setting id="pastebin_label_29" default="true">widget dessin animé</setting>
    <setting id="pastebin_label_3" default="true">1 Films SuperHeros</setting>
    <setting id="pastebin_label_30" default="true">widget doc</setting>
    <setting id="pastebin_label_4" default="true">4 Films 3D</setting>
    <setting id="pastebin_label_41" default="true" />
    <setting id="pastebin_label_47" default="true" />
    <setting id="pastebin_label_5" default="true">2 Series Apres 2000 (tous)</setting>
    <setting id="pastebin_label_6" default="true">2 Series Avant 2000</setting>
    <setting id="pastebin_label_7" default="true">3 Series Anime Adulte</setting>
    <setting id="pastebin_label_8" default="true">Films 2020 et plus</setting>
    <setting id="pastebin_label_9" default="true">5 DAnime Films (tous)</setting>
    <setting id="pastebin_nbItemParPage" default="true">25</setting>
    <setting id="plugin__4kstreamz" default="true">false</setting>
    <setting id="plugin_adkami_com" default="true">false</setting>
    <setting id="plugin_alldebrid" default="true">false</setting>
    <setting id="plugin_animecomplet" default="true">false</setting>
    <setting id="plugin_animeultime" default="true">false</setting>
    <setting id="plugin_asia_insane" default="true">false</setting>
    <setting id="plugin_buzzmonclick_com" default="true">false</setting>
    <setting id="plugin_channelstream" default="true">false</setting>
    <setting id="plugin_cine974" default="true">false</setting>
    <setting id="plugin_cinemay_cc" default="true">false</setting>
    <setting id="plugin_cinemay_com" default="true">false</setting>
    <setting id="plugin_cinemegatoil_org" default="true">true</setting>
    <setting id="plugin_cinemey" default="true">false</setting>
    <setting id="plugin_dbanimes" default="true">false</setting>
    <setting id="plugin_ddl1" default="true">false</setting>
    <setting id="plugin_docu_fr" default="true">false</setting>
    <setting id="plugin_dpstream" default="true">false</setting>
    <setting id="plugin_dpstreamhd" default="true">false</setting>
    <setting id="plugin_dpstreaming" default="true">true</setting>
    <setting id="plugin_enstream" default="true">false</setting>
    <setting id="plugin_enstream_series" default="true">false</setting>
    <setting id="plugin_extreme_down" default="true">false</setting>
    <setting id="plugin_filmspourenfants" default="true">false</setting>
    <setting id="plugin_filmstoon_pro" default="true">false</setting>
    <setting id="plugin_filmstreamingy" default="true">false</setting>
    <setting id="plugin_filmstreamvk_com" default="true">false</setting>
    <setting id="plugin_filmzenstream_com" default="true">true</setting>
    <setting id="plugin_free_telechargement_org" default="true">false</setting>
    <setting id="plugin_freebox" default="true">false</setting>
    <setting id="plugin_french_stream_com" default="true">false</setting>
    <setting id="plugin_french_stream_lol" default="true">false</setting>
    <setting id="plugin_funeralforamanga" default="true">false</setting>
    <setting id="plugin_gum_gum_streaming_com" default="true">false</setting>
    <setting id="plugin_hds_fm" default="true">false</setting>
    <setting id="plugin_hds_stream" default="true">false</setting>
    <setting id="plugin_hds_streamingvf" default="true">true</setting>
    <setting id="plugin_ianime" default="true">false</setting>
    <setting id="plugin_illimitestreaming" default="true">false</setting>
    <setting id="plugin_k_streaming" default="true">false</setting>
    <setting id="plugin_kaydo_ws" default="true">false</setting>
    <setting id="plugin_kepliz_com" default="true">true</setting>
    <setting id="plugin_kstreamingfilm" default="true">false</setting>
    <setting id="plugin_kstreamingserie" default="true">false</setting>
    <setting id="plugin_les_debiles" default="true">false</setting>
    <setting id="plugin_les_docus" default="true">false</setting>
    <setting id="plugin_libertyland_tv" default="true">false</setting>
    <setting id="plugin_livetv" default="true">false</setting>
    <setting id="plugin_lsbd" default="true">true</setting>
    <setting id="plugin_mamcin" default="true">false</setting>
    <setting id="plugin_mesfilms" default="true">false</setting>
    <setting id="plugin_mystream_zone" default="true">false</setting>
    <setting id="plugin_neko_sama" default="true">false</setting>
    <setting id="plugin_neuf_docu" default="true">false</setting>
    <setting id="plugin_o1seriestreaming" default="true">false</setting>
    <setting id="plugin_o1streaming" default="true">false</setting>
    <setting id="plugin_otaku_attitude" default="true">false</setting>
    <setting id="plugin_otakufr_com" default="true">false</setting>
    <setting id="plugin_papstream" default="true">true</setting>
    <setting id="plugin_pastebin" default="true">true</setting>
    <setting id="plugin_planet_streaming" default="true">false</setting>
    <setting id="plugin_psyplay" default="true">false</setting>
    <setting id="plugin_serie_streaming" default="true">false</setting>
    <setting id="plugin_serie_streaming_watch" default="true">true</setting>
    <setting id="plugin_serie_streaminghd" default="true">true</setting>
    <setting id="plugin_series_en_streaming" default="true">false</setting>
    <setting id="plugin_series_stream" default="true">false</setting>
    <setting id="plugin_skyanimes" default="true">false</setting>
    <setting id="plugin_sokrostream" default="true">false</setting>
    <setting id="plugin_spion_com" default="true">false</setting>
    <setting id="plugin_stream_complet" default="true">false</setting>
    <setting id="plugin_streamay_series" default="true">true</setting>
    <setting id="plugin_streamcomplet" default="true">true</setting>
    <setting id="plugin_streamcomplet3" default="true">true</setting>
    <setting id="plugin_streamcomplet3_2" default="true">false</setting>
    <setting id="plugin_streamdivx" default="true">false</setting>
    <setting id="plugin_streaming_planet" default="true">true</setting>
    <setting id="plugin_streaming_series" default="true">false</setting>
    <setting id="plugin_streamingdivx" default="true">false</setting>
    <setting id="plugin_streaminz" default="true">false</setting>
    <setting id="plugin_streampourvous" default="true">false</setting>
    <setting id="plugin_telecharger_streaming" default="true">false</setting>
    <setting id="plugin_tirexo" default="true">false</setting>
    <setting id="plugin_topreplay" default="true">true</setting>
    <setting id="plugin_tvseriestreaming" default="true">false</setting>
    <setting id="plugin_vf_film" default="true">false</setting>
    <setting id="plugin_vf_serie" default="true">false</setting>
    <setting id="plugin_vf_space" default="true">true</setting>
    <setting id="plugin_vfilms" default="true">false</setting>
    <setting id="plugin_videobuzzy_com" default="true">false</setting>
    <setting id="plugin_viki_com" default="true">false</setting>
    <setting id="plugin_voiranime" default="true">false</setting>
    <setting id="plugin_voirfilms_org" default="true">false</setting>
    <setting id="plugin_voirseries_best" default="true">false</setting>
    <setting id="plugin_vostfree" default="true">false</setting>
    <setting id="plugin_wawacity" default="true">false</setting>
    <setting id="plugin_wiflix" default="true">false</setting>
    <setting id="plugin_youtitou_com" default="true">true</setting>
    <setting id="plugin_zone_streaming" default="true">false</setting>
    <setting id="plugin_zone_telechargement_ws" default="true">false</setting>
    <setting id="plugin_zustream" default="true">false</setting>
    <setting id="plugin_zustream_co" default="true">false</setting>
    <setting id="serie-view" default="true">54</setting>
    <setting id="service_futur" default="true">1.3.1</setting>
    <setting id="service_time" default="true">2021-09-06 12:00:01.937810</setting>
    <setting id="service_version" default="true">1.4.0</setting>
    <setting id="token_alldebrid" default="true" />
</settings>
